body {
    padding: 20px;
    font-family: 'Lora', serif;
}

ul {
    position: relative;
    vertical-align: middle;
    padding: 0;
    list-style: none;
    display: inline-block;
}

li {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    margin: 8px 0;
    transform: translateY(-9px);
}

.glyphicon {
    font-size: 10px;
}

.tree {
    padding-top: 5px;
    overflow-y: auto;
}

.branch {
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
}

.branch.ng-hide,
.branch.ng-show {
    opacity: 0;
}

.node-wrapper {
    display: inline-block;
    text-align: left;
}

.node {
    display: inline-block;
    padding: 0 8px;
}

.node-text {
    min-width: 5vw;
    max-width: 25vw;
    vertical-align: bottom;
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
    text-align: justify;
    padding: 0 4px;
    border-bottom: 1px solid grey;
}

.node-expander {
    position: relative;
    right: 12px;
    margin-right: 5px;
    max-width: 1px;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

ul::before {
    content: '';
    position: absolute;
    border-top: 1px solid grey;
    top: 50%;
    left: -12px;
    width: 12px;
    z-index: -1;
}

li::before {
    content: '';
    position: absolute;
    border-left: 1px solid grey;
    height: 100%;
    z-index: -1;
}

li:only-child::before {
    display: none;
}

li:last-child::before,
li:first-child::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 50%;
    z-index: -1;
}

li:first-child::before {
    border-top: 1px solid grey;
    border-radius: 5px 0 0 0;
    top: 50%;
}

li:last-child::before {
    border-bottom: 1px solid grey;
    border-radius: 0 0 0 5px;
    height: calc(50% + 1px);
    bottom: 50%;
    margin-bottom: -1px;
}

li:not(:first-child):not(:last-child)::after,
li:only-child::after {
    content: '';
    position: absolute;
    width: 8px;
    border-top: 1px solid grey;
    top: 50%;
    left: 0;
    z-index: -1;
}

.tree-text {
    padding-top: 10px;
}