body {
    padding: 20px;
    font-family: 'Lora', serif;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

li {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.glyphicon {
    font-size: 10px;
}

.tree {
    padding-top: 5px;
    overflow-y: auto;
}

.branch {
    transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
}

.branch.ng-hide,
.branch.ng-show {
    opacity: 0;
}

.node-wrapper {
    display: inline-block;
    text-align: left;
}

.node {
    display: inline-block;
    margin: 8px;
    transform: translateY(-12px);
}

.node-text {
    min-width: calc(5vw - 40px);
    max-width: calc(25vw - 40px);
    overflow: visible;
    white-space: normal;
    text-align: justify;
}

.node-expander {
    position: relative;
    max-width: 1px;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

.node-wrapper::before {
    content: '';
    position: absolute;
    border: 1px solid grey;
    top: 50%;
    width: 8px;
    z-index: -1;
}

.node-parent::after {
    content: '';
    position: absolute;
    border: 1px solid grey;
    width: 5px;
    bottom: calc(50% - 14px);
    z-index: -1;
}

ul::before {
    content: '';
    position: absolute;
    border: 1px solid grey;
    top: 50%;
    left: -12px;
    width: 12px;
    z-index: -1;
}

li::before {
    content: '';
    position: absolute;
    border-left: 1px solid grey;
    height: 100%;
    z-index: -1;
}

li:only-child::before {
    display: none;
}

li:first-child::before {
    height: 50%;
    top: 50%;
}
li:last-child::before {
    height: 50%;
    bottom: 50%;
}

.tree-text {
    padding-top: 10px;
}