body {
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

li {
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
}

.node {
    max-width: 300px;
    min-height: 35px;
    overflow: visible;
    white-space: normal;
    margin: 8px;
}

.glyphicon {
    font-size: 10px;
}