<h1>Tree viewer</h1>

<div class="tree-viewer">
    <div class="tree">
        <!--<a class="btn btn-sm" ng-click="node = !node">hide <span class="glyphicon" ng-class="{'glyphicon-chevron-right': !node, 'glyphicon-chevron-down': node}"></span></a>-->
        <ul ng-hide="node">
            <li ng-repeat="data in $ctrl.tree" ng-include="'tree_item_renderer.html'"></li>
        </ul>

        <script type="text/ng-template"  id="tree_item_renderer.html">
            <div class="node-wrapper">
                <div class="node">
                    <a class="node-text btn btn-default btn-sm disabled" role="button">
                        {{data.text}}
                    </a>
                </div>
                <a class="btn btn-sm" type="btn" ng-show="data.children.length > 0"  ng-click="node = !node">
                    <span class="glyphicon" ng-class="{'glyphicon-remove': !node, 'glyphicon-plus': node}" aria-hidden="true"></span>
                </a>
            </div>
            <ul class="branch" ng-hide="node" ng-if="data.children.length > 0">
                <li  ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"></li>
            </ul>
        </script>

    </div>

    <!--<div class="tree-text">-->
        <!--<pre>{{$ctrl.tree | json}}</pre>-->
    <!--</div>-->
</div>